/* COLORS */
/* COLORS */
/* FONTS */
/* FONTS */
/* SHADOW */
/* SHADOW */
body {
  margin: 0;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
body .intro-pic .background {
  height: 20em;
  object-fit: cover;
}
body header .nav {
  text-align: center;
}
body header .nav .logo-border {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2%;
}
body header .nav .logo-border .back {
  color: black;
  position: absolute;
}
body header .nav .logo-border .logo-center {
  width: 100%;
}
body header .nav .logo-border .logo .logo-png {
  width: 11em;
}
body .content {
  border: 2px solid #f6f6f6;
  border-radius: 2em 2em 0 0;
  background-color: #f6f6f6;
  margin-top: -26px;
  z-index: 2;
}
body .content .title-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
}
body .content .title-group h2 {
  font-family: "Shrikhand", "cursive";
}
body .content .title-group h2 i {
  color: #353535;
}
body .content .title-group .heart {
  position: relative;
  cursor: pointer;
}
body .content .title-group .heart .fa-solid {
  position: absolute;
  top: 18px;
  left: 0px;
  margin-top: -10px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
body .content .title-group .heart .fa-solid:hover {
  opacity: 1;
  color: #9356dc;
}
body .content .title-group .heart .fa-solid:active {
  opacity: 1;
  color: #9356dc;
}
body .content .columns {
  justify-content: space-evenly;
}
body .text-group {
  font-family: "Roboto", "sans-serif";
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
body .text-group h3 {
  font-weight: 300;
  margin-bottom: 0;
}
body .text-group .underline {
  border: 2px solid #99e2d0;
  width: 40px;
  margin-top: 5px;
  background-color: #99e2d0;
}
body .cards .card-1,
body .cards .card-2,
body .cards .card-3 {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 18px #afafaf;
  margin-bottom: 5%;
  animation: appear 3s forwards;
  animation: rise 3s forwards;
  overflow: hidden;
}
body .cards .card-1 :hover .check,
body .cards .card-2 :hover .check,
body .cards .card-3 :hover .check {
  margin-right: 0;
}
body .cards .card-1 :hover .check .fa-solid,
body .cards .card-2 :hover .check .fa-solid,
body .cards .card-3 :hover .check .fa-solid {
  animation: spin 0.3s ease-in-out 1;
  animation-delay: 0.2s;
}
body .cards .card-1 p,
body .cards .card-2 p,
body .cards .card-3 p {
  font-weight: 100;
  margin: 0;
  margin-bottom: 10px;
  font-size: larger;
}
body .cards .card-1 strong,
body .cards .card-2 strong,
body .cards .card-3 strong {
  font-weight: 500;
}
body .cards .text-icon {
  padding: 1em;
  width: 100%;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}
body .cards p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body .cards .price {
  display: flex;
  align-items: flex-end;
  font-size: larger;
}
body .cards .price .check {
  align-items: center;
  background-color: #99e2d0;
  height: 100%;
  width: 125px;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  margin-right: -125px;
  transition: margin 0.5s ease-in-out;
}
body .cards .price .check .fa-solid {
  color: white;
}
body .cards .price p {
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body .card-1:hover,
body .card-2:hover,
body .card-3:hover {
  box-shadow: 5px 5px 30px;
  cursor: pointer;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rise {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
body img {
  width: 100%;
  z-index: 1;
}
body .btn {
  text-align: center;
  font-family: "Roboto", "sans-serif";
  padding: 4% 25%;
}
body .btn .button {
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 4% 0;
  border-radius: 60px;
  text-decoration: none;
  cursor: pointer;
}
body .btn .button a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}
body .btn .button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 18px #afafaf;
}

.button:hover {
  box-shadow: 5px 5px 18px #afafaf;
  cursor: pointer;
}

.footer {
  background-color: #353535;
  color: white;
  text-decoration: none;
  margin-top: 0;
}
.footer .footer-group {
  padding: 1.25em;
}
.footer .footer-group h3 {
  font-size: 1.1em;
  font-weight: 100;
  margin-top: 0;
  font-family: "Shrikhand", "cursive";
}
.footer .footer-group .group {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-family: "Roboto", "sans-serif";
}
.footer .footer-group .group .icon {
  padding-bottom: 10px;
}
.footer .footer-group .group .icon a {
  text-decoration: none;
  color: white;
}
.footer .footer-group .group .icon a i {
  color: white;
  padding-bottom: 10px;
}
.footer .footer-group .group .icon a span {
  padding-left: 8px;
}
.footer .footer-group .group .link {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}

@media all and (min-width: 992px) {
  .content .text-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3em;
    justify-content: center;
  }
  .content .text-group .text-grouping {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .content .text-group .card-1,
.content .text-group .card-2,
.content .text-group .card-3 {
    width: 27em;
  }
  .content .title-group {
    padding: 1em 1.2em;
  }
  .content .btn .button a {
    font-size: 2em;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .content .columns {
    flex-direction: column;
  }
  .content .columns .text-group {
    align-self: center;
  }
}

/*# sourceMappingURL=restaurants.css.map */
