/* COLORS */
/* COLORS */
/* FONTS */
/* FONTS */
/* SHADOW */
/* SHADOW */
.loading-page {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 1s forwards;
  animation-delay: 3s;
}
.loading-page .loader {
  border: 16px solid lightgrey;
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav {
  text-align: center;
}
.nav .logo-border .logo .logo-png {
  height: 2em;
  padding: 3%;
}

.city {
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: #eaeaea;
  padding-left: 1%;
  font-family: "Roboto", "sans-serif";
  justify-content: center;
}
.city .group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2% 0;
  align-items: center;
  gap: 20px;
}
.city .group i {
  color: #353535;
}
.city .group .text {
  color: #afafaf;
  font-size: 1em;
  color: #353535;
}

body {
  margin: 0;
}

.header {
  background-color: #f6f6f6;
  font-family: "Roboto", "sans-serif";
  padding: 6%;
  text-align: center;
}
.header .group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 6% 3% 6%;
}
.header .group .title h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.header .group .subtext h2 {
  font-size: 1em;
  font-weight: 100;
  color: #353535;
}
.header .btn {
  padding: 0 12%;
}
.header .btn .button {
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 4% 0;
  border-radius: 60px;
  text-decoration: none;
  cursor: pointer;
}
.header .btn .button a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}
.header .btn .button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 18px #afafaf;
}

.fonctionnement {
  text-align: center;
  padding-bottom: 10%;
  text-align: -webkit-center;
}
.fonctionnement h3 {
  text-align-last: left;
  font-family: "Roboto", "sans-serif";
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  padding: 2% 0 2% 10%;
}
.fonctionnement .card-1,
.fonctionnement .card-2,
.fonctionnement .card-3 {
  display: flex;
  border: 1px solid transparent;
  font-family: "Roboto", "sans-serif";
  padding: 20px 0px 20px 0px;
  box-shadow: 5px 5px 18px #afafaf;
  border-radius: 25px;
  align-items: center;
  margin: 0 0 30px 5%;
  background-color: #f6f6f6;
  width: 85%;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.fonctionnement .card-1 .numberbubble,
.fonctionnement .card-2 .numberbubble,
.fonctionnement .card-3 .numberbubble {
  border-radius: 100%;
  height: 2%;
  width: 2%;
  min-height: 1.5em;
  min-width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  margin: -0.5rem;
  transition-duration: 0.1s;
  font-weight: bold;
  color: white;
  margin-left: -13px;
}
.fonctionnement .card-1 .numberbubble .number,
.fonctionnement .card-2 .numberbubble .number,
.fonctionnement .card-3 .numberbubble .number {
  font-size: 0.75em;
}
.fonctionnement .card-1 i,
.fonctionnement .card-2 i,
.fonctionnement .card-3 i {
  color: #afafaf;
  padding-left: 10%;
}
.fonctionnement .card-1 .text,
.fonctionnement .card-2 .text,
.fonctionnement .card-3 .text {
  padding-left: 10%;
  font-size: 1em;
  font-weight: 500;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 5%;
}
.restaurants h3 {
  font-size: 1.5em;
  font-family: "Roboto", "sans-serif";
  margin: 5% 0 5% 5%;
}
.restaurants h4 {
  margin-top: 10px;
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 1em;
}
.restaurants .group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.restaurants .group .card-1,
.restaurants .group .card-2,
.restaurants .group .card-3,
.restaurants .group .card-4 {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 18px #afafaf;
  margin-bottom: 5%;
}
.restaurants .group .card-1 .image,
.restaurants .group .card-2 .image,
.restaurants .group .card-3 .image,
.restaurants .group .card-4 .image {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 100%;
}
.restaurants .group .card-1 .image .img,
.restaurants .group .card-2 .image .img,
.restaurants .group .card-3 .image .img,
.restaurants .group .card-4 .image .img {
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .group .card-1 .text-layout,
.restaurants .group .card-2 .text-layout,
.restaurants .group .card-3 .text-layout,
.restaurants .group .card-4 .text-layout {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}
.restaurants .group .card-1 .text-layout h2,
.restaurants .group .card-2 .text-layout h2,
.restaurants .group .card-3 .text-layout h2,
.restaurants .group .card-4 .text-layout h2 {
  font-family: "Roboto", "sans-serif";
  font-size: 1em;
  text-decoration: none;
}
.restaurants .group .card-1 .text-layout h4,
.restaurants .group .card-2 .text-layout h4,
.restaurants .group .card-3 .text-layout h4,
.restaurants .group .card-4 .text-layout h4 {
  font-family: "Roboto", "sans-serif";
  font-size: 1em;
  margin-top: -7px;
  text-decoration: none;
}
.restaurants .group .card-1 .text-layout .heart,
.restaurants .group .card-2 .text-layout .heart,
.restaurants .group .card-3 .text-layout .heart,
.restaurants .group .card-4 .text-layout .heart {
  position: relative;
  cursor: pointer;
}
.restaurants .group .card-1 .text-layout .heart .fa-solid,
.restaurants .group .card-2 .text-layout .heart .fa-solid,
.restaurants .group .card-3 .text-layout .heart .fa-solid,
.restaurants .group .card-4 .text-layout .heart .fa-solid {
  position: absolute;
  top: 18px;
  left: 0px;
  margin-top: -10px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.restaurants .group .card-1 .text-layout .heart .fa-solid:hover,
.restaurants .group .card-2 .text-layout .heart .fa-solid:hover,
.restaurants .group .card-3 .text-layout .heart .fa-solid:hover,
.restaurants .group .card-4 .text-layout .heart .fa-solid:hover {
  opacity: 1;
  color: #9356dc;
}
.restaurants .group .card-1 .text-layout .heart .fa-solid:active,
.restaurants .group .card-2 .text-layout .heart .fa-solid:active,
.restaurants .group .card-3 .text-layout .heart .fa-solid:active,
.restaurants .group .card-4 .text-layout .heart .fa-solid:active {
  opacity: 1;
  color: #9356dc;
}
.restaurants .group .card-1 .text a,
.restaurants .group .card-2 .text a,
.restaurants .group .card-3 .text a,
.restaurants .group .card-4 .text a {
  color: black;
}

.footer {
  background-color: #353535;
  color: white;
  text-decoration: none;
  margin-top: 0;
}
.footer .footer-group {
  padding: 1.25em;
}
.footer .footer-group h3 {
  font-size: 1.1em;
  font-weight: 100;
  margin-top: 0;
  font-family: "Shrikhand", "cursive";
}
.footer .footer-group .group {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-family: "Roboto", "sans-serif";
}
.footer .footer-group .group .icon {
  padding-bottom: 10px;
}
.footer .footer-group .group .icon a {
  text-decoration: none;
  color: white;
}
.footer .footer-group .group .icon a i {
  color: white;
  padding-bottom: 10px;
}
.footer .footer-group .group .icon a span {
  padding-left: 8px;
}
.footer .footer-group .group .link {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}

@media all and (min-width: 992px) {
  .body {
    margin: 0 auto;
  }
  .nav .logo-border .logo .logo-png {
    padding: 1%;
  }
  .nav .city .group {
    padding: 1% 0;
  }
  .header {
    padding: 5%;
  }
  .header .btn {
    padding: 0 34%;
  }
  .header .btn .button {
    padding: 6% 0;
  }
  .header .btn .button a {
    font-size: 1.5em;
  }
  .fonctionnement {
    padding-bottom: 5%;
  }
  .fonctionnement h3 {
    padding: 2% 0 2% 6%;
  }
  .fonctionnement .cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5em;
    padding: 0 10%;
  }
  .fonctionnement .card-1 .text,
.fonctionnement .card-2 .text,
.fonctionnement .card-3 .text,
.fonctionnement .card-4 .text {
    padding-left: 3em;
  }
  .restaurants h3 {
    margin: 0 0 5% 5%;
  }
  .restaurants .group {
    display: flex;
    flex-wrap: nowrap;
    gap: 2%;
    align-content: center;
    padding: 0 4%;
  }
  .restaurants .group .card-1,
.restaurants .group .card-2,
.restaurants .group .card-3,
.restaurants .group .card-4 {
    width: 43%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .body {
    margin: 0 auto;
  }
  .header .btn {
    padding: 0 34%;
  }
  .fonctionnement {
    padding-bottom: 5%;
  }
  .fonctionnement h3 {
    padding: 2% 0 2% 6%;
  }
  .fonctionnement .cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5em;
    padding: 0 2%;
  }
  .fonctionnement .card-1 .text,
.fonctionnement .card-2 .text,
.fonctionnement .card-3 .text,
.fonctionnement .card-4 .text {
    padding-left: 0.6em;
  }
}

/*# sourceMappingURL=style.css.map */
