@import "./variables.scss";
@import "./animations.scss";

.nav {
  text-align: center;
  logo-border {
    border-bottom: 4px solid $grey-background;
  }
}
.city {
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: $grey-header;
  padding-left: 1%;
}

.header {
  text-align: center;
  background-color: $grey-background;
}

.fonctionnement {
  text-align: center;
  .group {
    text-align: center;
    .h3 {
      font-family: "Roboto", "sans-serif";
      display: flex;
      flex-direction: column;
      background-color: $grey-background;
      padding: 2% 10% 10% 10%;
    }
  }
  .card-1,
  .card-2,
  .card-3 {
    display: flex;
    border: 1px solid transparent;
    margin: 0 31%;
    padding: 35px 0px 35px 0px;
    box-shadow: 5px 5px 18px $grey-font;
    border-radius: 25px;
    align-items: center;
    margin-bottom: 30px;
    .numberbubble {
      border-radius: 100%;
      height: 2%;
      width: 2%;
      min-height: 40px;
      min-width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      margin: -0.5rem;
      transition-duration: 0.1s;
      font-weight: bold;
      color: white;
    }
    & i {
      color: $grey-font;
    }
  }
}

.restaurants {
  .group {
    .card-1 {
      .image {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}
