@import "./variables.scss";

body {
  margin: 0;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  .intro-pic {
    .background {
      height: 20em;
      object-fit: cover;
      width: 100%;
      z-index: 1;
    }
  }
  header {
    .r-nav {
      text-align: center;
      .r-logo-border {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 2%;
        .back {
          color: black;
          position: absolute;
        }
        .r-logo-center {
          width: 100%;
        }
        .r-logo {
          .r-logo-png {
            width: 11em;
          }
        }
      }
    }
  }

  .content {
    border: 2px solid $grey-background;
    border-radius: 2em 2em 0 0;
    background-color: $grey-background;
    margin-top: -26px;
    z-index: 2;
    .title-group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 1em 4em;
      & h2 {
        font-family: $secondary-font;
        & i {
          color: $not-quite-black;
        }
      }
      .heart {
        position: relative;
        cursor: pointer;
        .fa-solid {
          position: absolute;
          top: 18px;
          left: 0px;
          margin-top: -10px;
          opacity: 0;
          transition: opacity 0.2s ease-out;
        }
        .fa-regular {
          transition: opacity 0.2s ease-out;
        }
        &:hover .fa-solid {
          opacity: 1;
          color: $primary-color;
        }
        &:active .fa-solid {
          opacity: 1;
          color: $primary-color;
        }
        &:hover .fa-regular {
          opacity: 0;
        }
        &:active .fa-regular {
          opacity: 0;
        }
      }
    }
    .columns {
      justify-content: space-evenly;
    }
  }

  .text-group {
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0 5%;
    & h3 {
      font-weight: 300;
      margin-bottom: 0;
    }
    .underline {
      border: 2px solid $tertiary-color;
      width: 40px;
      margin-top: 5px;
      background-color: $tertiary-color;
    }
  }

  .text-grouping {
    .r-card-1,
    .r-card-2,
    .r-card-3,
    .r-card-4 {
      animation: rise 3s forwards;
      animation-delay: 2s;
      background-color: white;
      border-radius: 20px;
      width: 100%;
      display: flex;
      box-shadow: $box-shadow;
      margin-bottom: 5%;
      overflow: hidden;
      opacity: 0;
      &:hover .check {
        margin-right: 0;
        .fa-solid {
          animation: spin 0.3s ease-in-out 1;
          animation-delay: 0.2s;
        }
      }
      & p {
        font-weight: 100;
        margin: 0;
        margin-bottom: 10px;
        font-size: medium;
      }
      & strong {
        font-weight: 500;
      }
    }
    .r-card-1 {
      animation: rise 3s forwards;
    }
    .r-card-2 {
      animation: rise 3s forwards;
      animation-delay: 1s;
    }
    .r-card-3 {
      animation: rise 3s forwards;
      animation-delay: 2s;
    }
    .r-card-4 {
      animation: rise 3s forwards;
      animation-delay: 3s;
    }
    .text-icon {
      padding: 1em 0 1em 1em;
      width: 100%;
      font-size: medium;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow: hidden;
      align-content: center;
      align-items: flex-start;
      justify-content: space-between;
      & p {
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .price {
      display: flex;
      align-items: flex-end;
      font-size: medium;
      padding-left: 10px;
      .check {
        align-items: center;
        background-color: $tertiary-color;
        height: 100%;
        width: 125px;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        margin-right: -125px;
        transition: margin 0.5s ease-in-out;
        & .fa-solid {
          color: white;
        }
      }
      p {
        padding-bottom: 0.5em;
        padding-right: 0.5em;
      }
    }
  }

  .r-card-1:hover,
  .r-card-2:hover,
  .r-card-3:hover {
    box-shadow: 5px 5px 30px;
    cursor: pointer;
  }

  .r-btn {
    text-align: center;
    font-family: $primary-font;
    padding: 4% 25%;
    .r-button {
      color: white;
      background: linear-gradient($secondary-color, $primary-color);
      padding: 4% 0;
      border-radius: 60px;
      text-decoration: none;
      cursor: pointer;
      & a {
        color: white;
        text-decoration: none;
        font-size: 1em;
      }
    }
    .r-button:hover {
      opacity: 0.8;
      box-shadow: $box-shadow;
    }
  }
}

.r-button:hover {
  box-shadow: $box-shadow;
  cursor: pointer;
}
.footer {
  background-color: $not-quite-black;
  color: white;
  text-decoration: none;
  margin-top: 0;
  .footer-group {
    padding: 1.25em;
    & h3 {
      font-size: 1.1em;
      font-weight: 100;
      margin-top: 0;
      font-family: $secondary-font;
    }
    .group {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      flex-wrap: nowrap;
      align-items: flex-start;
      font-family: $primary-font;
      .icon {
        padding-bottom: 10px;
        & a {
          text-decoration: none;
          color: white;
          & i {
            color: white;
            padding-bottom: 10px;
          }
          & span {
            padding-left: 8px;
          }
        }
      }
      .link {
        text-decoration: none;
        color: white;
        padding-bottom: 10px;
      }
    }
  }
}
//ANIMATIONS//
//cascading cards//

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

//cascading cards//
//rotating checks//
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
//rotating checks//

// MEDIA QUERIES //

@media all and (min-width: 768px) {
  .content {
    .text-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 3em;
      justify-content: center;
      .text-grouping {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 27%;
      }
      .card-1,
      .card-2,
      .card-3 {
        width: 27em;
      }
    }
    .title-group {
      padding: 1em 1.2em;
    }
    .r-btn {
      .r-button {
        & a {
          font-size: 2em;
        }
      }
    }
  }
}

// MEDIA QUERIES //
