@import "./variables.scss";
@import "./animations.scss";

body {
  margin: 0;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  .intro-pic {
    .background {
      height: 20em;
      object-fit: cover;
    }
  }
  header {
    .nav {
      text-align: center;
      .logo-border {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 3em;
        padding: 2%;
        justify-content: center;
        .back {
          color: black;
        }
        .logo {
          .logo-png {
            width: 11em;
          }
        }
      }
    }
  }

  .content {
    border: 2px solid $grey-background;
    border-radius: 2em 2em 0 0;
    background-color: $grey-background;
    margin-top: -26px;
    z-index: 2;
    .title-group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 1em 4em;
      & h2 {
        font-family: $secondary-font;
        & i {
          color: $not-quite-black;
        }
      }
      .heart {
        position: relative;
        cursor: pointer;
        .fa-solid {
          position: absolute;
          top: 18px;
          left: 0px;
          margin-top: -10px;
          opacity: 0;
          transition: opacity 0.2s ease-out;
        }
        .fa-solid:hover {
          opacity: 1;
          color: $primary-color;
        }
        .fa-solid:active {
          opacity: 1;
          color: $primary-color;
        }
      }
    }
    .columns {
      justify-content: space-evenly;
    }
  }
  .text-group {
    font-family: $primary-font;
    padding: 0 1em 1em 1em;
    & h3 {
      font-weight: 300;
      margin-bottom: 0;
    }
    .underline {
      border: 2px solid $tertiary-color;
      width: 40px;
      margin-top: 5px;
      background-color: $tertiary-color;
    }
  }
  .cards {
    .card-1,
    .card-2,
    .card-3 {
      background-color: white;
      border-radius: 20px;
      width: 90%;
      display: flex;
      box-shadow: $box-shadow;
      margin-bottom: 5%;
      animation: appear 3s forwards;
      animation: rise 3s forwards;
      overflow: hidden;
      & :hover .check {
        margin-right: 0;
      }
      & p {
        font-weight: 100;
        margin: 0;
        margin-bottom: 10px;
        font-size: larger;
      }
      & strong {
        font-weight: 500;
      }
    }
    .text-icon {
      padding: 1em;
      width: 100%;
      font-size: larger;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow: hidden;
      align-content: center;
      align-items: left;
      justify-content: space-between;
    }

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .price {
      display: flex;
      align-items: flex-end;
      font-size: larger;
      .check {
        align-items: center;
        background-color: $tertiary-color;
        height: 100%;
        width: 200px;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        margin-right: -200px;
        transition: margin 1.5s ease-in-out;
        & .fa-solid {
          color: white;
        }
      }
      p {
        padding-bottom: 0.5em;
        padding-right: 0.5em;
      }
      & :hover .check {
        margin-right: 0;
        animation: spin 5s;
      }
    }
    @keyframes spin {
      0% {
        margin-left: 100%;
        width: 300%;
        transform: rotate(0deg);
      }
      100% {
        margin-left: 0%;
        width: 100%;
        transform: rotate(360deg);
      }
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes rise {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  img {
    width: 100%;
    z-index: 1;
  }

  .btn {
    padding: 2em 5em 3em 5em;
    text-align: center;
    font-family: $primary-font;
    display: flex;
    justify-content: space-around;
    .button {
      color: white;
      background-color: #9356dc;
      border: 1px solid #9356dc;
      padding: 2% 6%;
      border-radius: 60px;
      text-decoration: none;
      & a {
        color: white;
        text-decoration: none;
        font-size: 1em;
      }
    }
  }
  .button:hover {
    box-shadow: $box-shadow;
    cursor: pointer;
  }
  .footer {
    background-color: $not-quite-black;
    color: white;
    text-decoration: none;
    margin-top: 0;
    .footer-group {
      padding: 1.25em;
      & h3 {
        font-size: 1.1em;
        font-weight: 100;
        margin-top: 0;
        font-family: $secondary-font;
      }
      .group {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
        font-family: $primary-font;
        .icon {
          padding-bottom: 10px;
          & a {
            text-decoration: none;
            color: white;
            & i {
              color: white;
              padding-bottom: 10px;
            }
            & span {
              padding-left: 8px;
            }
          }
        }
        .link {
          text-decoration: none;
          color: white;
          padding-bottom: 10px;
        }
      }
    }
  }
}

// MEDIA QUERIES //
@media all and (min-width: 768px) and (max-width: 992px) {
  .content {
    .columns {
      display: flex;
      flex-direction: column;
    }
    .title-group {
      padding: 1em 1.2em;
    }
  }
}

@media all and (max-width: 768px) {
  .content {
    .columns {
      flex-direction: column;
      .text-group {
        align-self: center;
      }
    }
  }
}
// MEDIA QUERIES //
