/* COLORS */
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$grey-font: #afafaf;
$grey-header: #eaeaea;
$grey-background: #f6f6f6;
$not-quite-black: #353535;
/* COLORS */

/* FONTS */
$primary-font: "Roboto", "sans-serif";
$secondary-font: "Shrikhand", "cursive";
/* FONTS */

/* SHADOW */
$box-shadow: 5px 5px 18px #afafaf;
/* SHADOW */
